.section-title {
    font-size: 22px;
    color: #0077cc;
    border-left: 5px solid #0077cc;
    padding-left: 10px;
    margin-top: 30px;
}

.project-box {
    background: #eef5ff;
    padding: 15px;
    border-radius: 5px;
}

.tag {
    background: #0077cc;
    color: #fff;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 12px;
    margin-right: 5px;
}